
.im_msg_audiomsg + .v2t_text {
    padding: 6px 12px !important;
    background: #5779a1;
    border-bottom-color: #5779a1;
    top: -5px;
    position: relative;
    color: #fff;
    border-radius: 2px;
}

.im_msg_audiomsg + .v2t_text:before {
    position: absolute;
    top: -10px;
    left: 17px;
    border: 4px solid transparent;
    border-bottom-color: inherit;
    content: " ";
    width: 2px;
    height: 2px;
    display: block;
}

.im_msg_audiomsg + .v2t_text.v2t_error {
    background: #b71c1c;
    border-bottom-color: #b71c1c;
}

.im_msg_audiomsg + .v2t_error_short {
    display: block;
    position: relative;
    height: 0px;
}

.im_msg_audiomsg + .v2t_error_short:before {
    background: #b71c1c;
    width: 14px;
    height: 14px;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    border-radius: 14px;
    color: #fff;
    position: absolute;
    top: -18px;
    left: 22px;
    content: "!";
    display: block;
}

.im_msg_audiomsg + .v2t_text.v2t_loading {
    opacity: 0.5;
}

.flyvk_black .im_msg_audiomsg + .v2t_text {
    background: #575757;
    border-bottom-color: #575757;
}
